.nav-bar{
    height: 60px;
    background-color: navy;
    color: oldlace;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 50px;
    margin-bottom: 20px;
}

h1, h3{
    margin: 0;
    padding: 0;
}

.cart-count{
    position: relative;
    margin-top: 15px;
}

.totalItem-count{
    position: absolute;
    top: -27px;
    color: orangered;
    left: 43px;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 3px;
    border: 3px solid orangered;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 33px;
}