.main-section{
  margin: 0;
  padding: 0;
  width: 100%;
}

.inlineBlock{
  display: inline-block;
}

.products-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.searchBar{
  margin-left: 30px;
  margin: auto;
  width: 1000px;
  text-align: center;
}

.searchBar input {
  width: 450px;
  font-size: 20px;
  border: none;
  margin: 10px;
  padding: 5px 10px;
  font-weight: bold;
  border-bottom: 2px solid navy;
}

.searchBar input:focus {
  outline-style: none;
}
